<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask</title>
    <style>
        @import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);
        body {
            text-align: center;
        }
        h1 {
            font-family: 'Amatic SC', cursive;
            font-size: 2.5em;
            font-weight: normal;
            color: #8ac640;
        }
    </style>
</head>
<body>
   {% block body %} {% endblock %}}} 
</body>
</html>